<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Move</key>
	<array>
		<array>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/DBv1.sqlite</string>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/Library.sqlite</string>
		</array>
		<array>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/DBv1.sqlite-shm</string>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/Library.sqlite-shm</string>
		</array>
		<array>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/DBv1.sqlite-wal</string>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/Library.sqlite-wal</string>
		</array>
		<array>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)</string>
			<string>${ApplicationSupport}/$(PRODUCT_NAME)/old_data</string>
		</array>
	</array>
</dict>
</plist>
